* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: black;
}
.container {
  width: 1300px;
  margin: 0 auto;
}

#header {
  background: #00000092;
  backdrop-filter: blur(5px);
  z-index: 99;
}
